<div class="container">
  <h1>The Movie DB</h1>
<div class="movie-list">
  <div *ngFor="let movie of movies" class="movie-item" >
    <div>
      <img [src]="imageBaseUrl + movie.poster_path" alt="{{ movie.title }}">
    </div>
    <div class="details">
      <h3>{{ movie.title }}</h3>
      <p>Rating: {{ movie.vote_average }}</p>
      <p>Release Date: {{ movie.release_date }}</p>
    </div>
    <div class="button-container">
      <button class="btn-principal" (click)="viewDetails(movie.id)">Details</button>
    </div>

  </div>
</div>

<div class="pagination">
  <button class="btn-principal" (click)="goToFirstPage()">First Page</button>
  <button class="btn-principal" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <button class="btn-principal" (click)="nextPage()">Next</button>
</div>

</div>

