
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.details{
  padding: 10px;
}
.movie-item {
  width: 370px;
  margin: 20px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 8px;
}

.movie-item img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.pagination button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
