/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding: 0px 15px;
  max-width: 100%;
  text-align: center;
}

button.btn-principal{
  cursor: pointer;
    background-color: #d2006e;
    border: 1px solid #d2006e;
    border-radius: .25rem;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
button.btn-principal:hover{
  background-color: #790340;
  border: 1px solid #790340;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
